
.explore{
  display: inline;
  color: rgb(230, 98, 88);
   padding: 45px 49px; 
  font-size:25px;
  
}

.li{
  display: inline-flex;
    /* top: 306px; */
    padding: 183px 0px;
}

/* Dropdown Button */
.admin {
 /* background-color: #3498DB;*/
  color: rgb(230, 98, 88);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.admin:hover, .btn:focus {
  
  color: blue;
}

/* The container <div> - needed to position the dropdown content */
.admin {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.admin-content {
  display: none;
  position: absolute;
  color: #d66868;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.admin-content a {
  color: #52cc10;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.bttn{
  background-color: transparent;
  color: white;
  font-size: 25px;

}

/* Change color of dropdown links on hover */
.admin-content a:hover {
  
  *background-color: rgb(78, 91, 229)
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}