body{
    

background-image: url(image/cityblur.png);
   
}
.frame{
    position: absolute;
    top: 186px;
    left: 200px;
    width: 1003px;
    height: 1000px;
    
   

}
.Add{
    position: absolute;
    left: 200px;
    top: 78px;
}
.anchor{
    padding: 6px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.anchor:hover{
    background-color: brown;

}
